@import "../css/utilidades/cores.css";
@import "../css/utilidades/tipografia.css";
@import "../css/global/header.css";

/* * {
  border: 1px solid red;
} */

#teste {
  text-align: center!important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #202020;

}
blockquote, dd, h1, h2, h3, h4, p, ul {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
[src$=".jpg"] {
  border-radius: 4px;
}


.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}
.js [data-anime] {
  opacity: 0;
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}
.header-bg {
  background-color: var(--cor-12);
}
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.header-menu a {
  display: inline-block;
  padding: 16px 0;
  position: relative;
}
.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
}
.header-menu a.ativo::after,
.header-menu a:hover:after {
  width: 100%;
}
@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: var(--cor-10);
  }
  .header a:after {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
.footer-bg {
  background-color: var(--cor-12);
}
.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer h3 {
  margin-bottom: 32px;
}
.footer-contato ul {
  margin-bottom: 32px;
}
.footer-contato li:nth-child(2n):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--cor-2);
  margin-top: 16px;
}
.footer li {
  margin-bottom: 16px;
}
.footer-redes {
  display: flex;
  gap: 32px;
}
.footer a:hover {
  color: var(--cor-0);
}
.footer-copy {
  grid-column: 1/-1;
  margin-top: 40px;
}
@media (max-width: 800px) {
  .footer > img {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .footer-copy {
    margin-top: 0;
  }
}
.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

#gan-peso,#perd-peso, #ganhar-musculos {
  width: 920px;
  height: 370px;
  /* border-radius: 3px;
  border: 1px solid #181818; */
}

#text-obj {
  margin-top: 12px;
  text-align: center;
}

.botao {
  padding: 16px 32px;
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c 100%);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.125rem/1.35 Poppins, sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}
.botao:hover {
  background: linear-gradient(#ffb60d, #e59317 100%);
}
.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}
.botao.secundario:hover {
  background: var(--cor-9);
}
.botao.seta {
  display: flex;
  align-items: center;
}
.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../img/icones/seta.svg");
  transition: transform 0.2s;
}
.botao.seta:hover::after {
  transform: translateX(4px);
}
@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
.link {
  text-align: center!important;
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 Poppins, sans-serif;
  text-transform: uppercase;
}
.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}
.link:hover {
  color: var(--cor-0);
}
.titulo-bg {
  background-color: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 60px;
}
.titulo p {
  margin-bottom: 4px;
}
@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.form label {
  display: block;
  font: 600 1rem/1.5 Poppins, sans-serif;
  margin-bottom: 4px;
}
.form .col-2 {
  grid-column: span 2;
}
.form input[type="email"],
.form input[type="text"],
.form textarea {
  font: 400 1rem/1.5 Roboto, sans-serif;
  background: var(--cor-1);
  border: 1px solid var(--cor-2);
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
.form input[type="email"]:focus,
.form input[type="text"]:focus,
.form textarea:focus {
  outline: 0;
  border-color: var(--cor-p1);
  background: var(--cor-0);
  box-shadow: 0 0 0 2px #fea;
}
@media (max-widht: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .col-2 {
    grid-column: 1;
  }
}
.introducao-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0 -120px var(--cor-0);
}
.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}
.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}
.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: -120px;
  border-radius: 4px;
}
.introducao h1 {
  margin-bottom: 32px;
}
.introducao p {
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .introducao-bg {
    background-color: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px #fff;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-conteudo {
    padding-bottom: 0;
  }
  .introducao h1 {
    margin-bottom: 16px;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }
}
.tecnologia-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}
.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnologia-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.tecnologia-conteudo {
  padding-top: 160px;
  padding-bottom: 160px;
}
.tecnologia-conteudo > span {
  margin-bottom: 20px;
  display: block;
}
.tecnologia-conteudo h2 {
  margin-bottom: 32px;
}
.tecnologia-conteudo > p {
  margin-bottom: 20px;
}
.tecnologia a {
  margin-bottom: 80px;
}
.tecnologia-vantagens {
  display: flex;
  gap: 40px;
  padding-top: -30px;
}
.tecnologia-vantagens h3 {
  margin-bottom: 8px;
  width: max-content;
  
}
.tecnologia-vantagens img {
  width: 24px;
  margin-bottom: 8px;
}
@media (max-width: 800px) {
  .tecnologia-bg {
    box-shadow: initial;
  }
  .tecnologia {
    grid-template-columns: 1fr;
  }
  .tecnologia-conteudo {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .tecnologia-imagem {
    display: none;
  }
  .tecnologia a {
    margin-bottom: 60px;
  }
}
@media (max-width: 600px) {
  .tecnologia-vantagens {
    flex-direction: column;
  }
}

.depoimento {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
  overflow: hidden;
}
.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}
.depoimento-conteudo {
  padding: 20px 40px 80px 80px;
  align-self: end;
}
.depoimento-conteudo p {
  max-width: 32ch;
  font-family: Merriweather, serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  position: relative;
}
.depoimento p::after,
.depoimento p::before {
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
}
.depoimento p::before {
  content: "“";
  left: -50px;
  top: -20px;
}
.depoimento p::after {
  content: "”";
}
@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento img {
    max-height: 200px;
  }
  .depoimento-conteudo {
    padding: 40px 20px;
    justify-self: center;
  }
}

#fundo {
  background-image: url(../img/fotos/proteinas\ \(1\).jpg);
  background-repeat: no-repeat;
  
}
.objetivos-lista { 
  padding-top: 60px;
  padding-bottom: 120px;
}
.objetivos-lista h2 {
  margin-bottom: 40px;
}
.objetivos-lista li {
  min-width: 280px;
  flex: 1;
}
.objetivos-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}
#bicicleta .objetivos-lista ul {
  padding: 0 0 20px 0;
}
#bicicleta .objetivos-lista h2 {
  padding: 0;
}
.objetivos-lista a {
  display: block;
}
.objetivos-lista img {
  margin-bottom: 16px;
}
.objetivos-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.objetivos-lista h3:before {
  content: "";
  display: inline-block;
  background-color: var(--cor-p1);
  height: 8px;
  width: 12px;
  margin-right: 8px;
  transition: width 0.2s;
}
.objetivos-lista a:hover h3::before {
  width: 24px;
}
.objetivos-lista li span {
  padding-left: 20px;
}
@media (max-width: 800px) {
  .objetivos-lista {
    padding-bottom: 60px;
  }
  .objetivos-lista ul {
    gap: 20px;
  }
  .obketivos-lista h2 {
    padding-top: 80px;
  }
}

.perguntas {
  padding-bottom: 120px;
  padding-top: 120px;
}
.perguntas h2 {
  margin-bottom: 60px;
}
.perguntas dl > div {
  padding: 20px;
  border-radius: 4px;
}
.perguntas dl > div:nth-child(odd) {
  background-color: var(--cor-1);
}
.perguntas button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  background: 0 0;
  width: 100%;
  text-align: left;
}
.perguntas button:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
}
.perguntas button:after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url("../img/icones/seta-abrir.svg");
  transition: 0.3s;
}
.perguntas button:hover::after,
.perguntas button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}
.js .perguntas dd {
  display: none;
}
.js .perguntas dd.ativa {
  display: block;
}
.perguntas dd {
  padding-left: 20px;
  padding-top: 16px;
  max-width: 80ch;
}
@media (max-width: 800px) {
  .perguntas {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .perguntas h3 {
    margin-bottom: 40px;
  }
}
